@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-inter;
  }
}

html, body {
  overflow: scroll; 
  -webkit-overflow-scrolling: touch; /* For smoother scrolling on mobile */
}


html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

*::-webkit-scrollbar {
  display: none;
}

